body {
  background: #fff;
  padding-top: 5rem; }

i.icon, i.icons {
  font-size: 1.5em; }

.wrapper {
  top: 25%;
  left: 25%;
  width: 50%;
  text-align: center;
  padding: 10px;
  margin: 0 auto; }
  .wrapper.main {
    border: #6fca2c solid 1px; }
    .wrapper.main .form {
      padding: 1rem; }
    .wrapper.main a {
      color: #45A9FF; }
  .wrapper.games {
    border: #FFCE45 solid 1px; }
  .wrapper.game {
    border: #45A9FF solid 1px;
    width: 90%;
    left: 5%;
    top: 15%;
    max-width: 1150px; }
    .wrapper.game .answers {
      padding-top: 4rem;
      padding-bottom: 2rem; }
      .wrapper.game .answers button {
        width: 100%; }
